[user]
	name = Bartlomiej Wrega
	email = bwrega@gmail.com
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=short
	addnw = !sh -c 'git diff -w --no-color "$@" | git apply --cached --ignore-whitespace' -
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = simple
